﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome GitLab</h1>
        <h1 class="display-4">Erick</h1>
        <h1 class="display-4">Richard</h1>
        <h1 class="display-4">Christian</h1>
        <h1 class="display-4">Carlos</h1>
        <h1 class="display-4">Jose</h1>
        <h1 class="display-4">Jimmy</h1>
        <p>Learn about <a href="https://doc1s.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
